@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2">
            <div class="card">
                <img src="@Url.Content("~/images/luis.jpg")" class="card-img-top" alt="Lancillotto">
                <div class="card-body">
                    <h5 class="card-title">Luigi D'Esposito</h5>
                    <div class="card-text text-start mb-1">
                        <p class="fs-6 m-0"><i class="bi bi-arrow-right-short"></i> Età: 19</p>
                        <p class="fs-6 m-0"><i class="bi bi-arrow-right-short"></i> Luogo Di nascita: Napoli</p>
                        <p class="fs-6 m-0"><i class="bi bi-arrow-right-short"></i> Data Di nascita: 31/01/06</p>
                    </div>
                    <a class="btn btn-primary" asp-area="" asp-controller="Curriculum" asp-action="Luigi">Vedi Curriculum</a>
                </div>
            </div>
        </div>
    </div>
</div>
