@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<link href="~/css/antimo.css" rel="stylesheet" />
<div class=" row">
	<div class="bg-dark  col-5 col-sm-3 sfondo-sidebar" id="sidebar">
		<nav class="nav flex-column text-light ">
			<a class=" fs-5 text-light  bg-dark " alt="..."><img class="border-bottom img-fluid rounded-circle mx-auto d-block mt-3" style="width: 150px; height: 150px; object-fit: cover;" src="~/img/gatto2.jpg" /></a>
			<a class="mt-2   fs-5 text-light border-bottom bg-dark" aria-current="page">Chi Sono?</a>
			@* <a class="mt-2 text-light" aria-current="page"><h3>Contatti:</h3></a> *@
			<p>&nbsp</p>

			<a class="mt-2 text-light" aria-disabled="true">Profilo</a>
			<p class="text-light">
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
				sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				Excepteur sint occaecat cupidatat non proident,
				sunt in culpa qui officia deserunt mollit anim id est laborum."
			</p>
			<a class="mt-2 text-light" aria-disabled="true">Aree di Compentenza</a>
			<p class="text-light">
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
				sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				Excepteur sint occaecat cupidatat non proident,
				sunt in culpa qui officia deserunt mollit anim id est laborum."
			</p>
			<a class="mt-2 text-light" aria-disabled="true">Lingue</a>
			<ul>
				<li>Italiano</li>
				<li>Inglese</li>
				<li>Spagnolo</li>
			</ul>
			@* bottone *@
			<button class="btn btn-outline-light btn-sm ms-2 mb-2" style="width:10rem" id="toggleContatti">
				<i class="bi bi-telephone"></i>
				Mostra Contatti
			</button>

			<div id="contattiSection">

				<a class="mt-1 text-light"><i class="bi bi-phone-fill"></i>Telefono</a>
				<ul>

					<li class="text-light">+39-3519774450</li>
				</ul>

				<a class="mt-2 text-light"><i class="bi bi-envelope-fill"></i>E-Mail</a>
				<ul>
					<li class="text-light">Antyrick@hotmail.it</li>

				</ul>

				<a class="mt-2 text-light" aria-disabled="true"><i class="bi bi-laptop"></i>Social</a>
				<ul>

					<li class="text-light"><i class="bi bi-instagram"></i>Yggdras.ill_</li>
					<li class="text-light"><i class="bi bi-linkedin"></i>antimo-riccardo-cerreto-050498225</li>
				</ul>
				<a class="mt-2 text-light" aria-disabled="true"><i class="bi bi-house"></i>Città</a>
				<ul>
				<li class="text-light">Caserta</li>

				</ul>
			</div>
		</nav>

	</div>

	<div class="col-7 col-sm-9" id="content">

		<div class="container m-2">
			<h1>Antimo Riccardo Cerreto</h1>
			<h2 class="border-bottom">Junior .Net Developer</h2>
			<div class="justify-content-md-center">
				<div class="">
					<div class="card" style="width:60rem;">
						<img src="~/img/tmw.jpg" style="width:60rem;" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Una breve descrizione</h5>
							<p class="card-text">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit,
								sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
								Excepteur sint occaecat cupidatat non proident,
								sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
						</div>
					</div>
					@* formazione *@

					<button class="btn btn-outline-dark btn-sm mb-3 mt-2" id="toggleFormazione">

						<i class="bi bi-book"></i>
						Mostra Formazione
					</button>
					<div id="formazioneSection">
						<h3 class="mt-2">Formazione</h3>

						<div class="card mt-2 card-hover" style="width: 60rem;">
							<div class="card-body">
								<h3 class="card-title">Formazione x</h3>
								<h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
								<p class="card-text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
									Excepteur sint occaecat cupidatat non proident,
									sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
								<a href="#" class="card-link">Altre Informazioni</a>
								<a href="#" class="card-link">Contatti</a>
							</div>
						</div>
						<div class="card mt-2 card-hover" style="width: 60rem;">
							<div class="card-body">
								<h3 class="card-title">Formazione y</h3>
								<h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
								<p class="card-text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
									Excepteur sint occaecat cupidatat non proident,
									sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
								<a href="#" class="card-link">Altre Informazioni</a>
								<a href="#" class="card-link">Contatti</a>
							</div>
						</div>
						<div class="card mt-2 card-hover" style="width: 60rem;">
							<div class="card-body">
								<h3 class="card-title">Formazione z</h3>
								<h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
								<p class="card-text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
									Excepteur sint occaecat cupidatat non proident,
									sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
								<a href="#" class="card-link">Altre Informazioni</a>
								<a href="#" class="card-link">Contatti</a>
							</div>
						</div>
					</div>
					@* progetti *@
					<button class="btn btn-outline-dark btn-sm mb-3 mt-2" id="toggleProgetti">
						<i class="bi bi-file-earmark"></i>
						Mostra Progetti
					</button>
					<div id="progettiSection">

						<h3 class="mt-2">Lavori e Progetti</h3>
						<div class="card mt-2 card-hover" style="width: 60rem;">
							<div class="card-body">
								<h3 class="card-title">Progetto A</h3>
								<h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
								<p class="card-text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
									Excepteur sint occaecat cupidatat non proident,
									sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
								<a href="#" class="card-link">Altre Informazioni</a>
								<a href="#" class="card-link">Contatti</a>
							</div>
						</div>
						<div class="card mt-2 card-hover" style="width: 60rem;">
							<div class="card-body">
								<h3 class="card-title">Progetto b</h3>
								<h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
								<p class="card-text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
									Excepteur sint occaecat cupidatat non proident,
									sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
								<a href="#" class="card-link">Altre Informazioni</a>
								<a href="#" class="card-link">Contatti</a>
							</div>
						</div>
						<div class="card mt-2 card-hover" style="width: 60rem;">
							<div class="card-body">
								<h3 class="card-title">Progetto c</h3>
								<h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
								<p class="card-text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
									Excepteur sint occaecat cupidatat non proident,
									sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
								<a href="#" class="card-link">Altre Informazioni</a>
								<a href="#" class="card-link">Contatti</a>
							</div>
						</div>
					</div>
					@* competenze *@
					<button class="btn btn-outline-dark btn-sm mb-3 mt-2" onclick="toggleCompetenze()">
						<i class="bi bi-bar-chart-steps"></i>
						Mostra Competenze
					</button>


					<div id="competenzeSection" class="mt-3" style="display: none;">

						<h3 class="mt-4">Competenze Tecniche</h3>
						<p>C#</p>
						<div class="progress mb-2">
							<div class="progress-bar bg-primary" style="width: 25%">25%</div>
						</div>

						<p>ASP.NET MVC</p>
						<div class="progress mb-2">
							<div class="progress-bar bg-success" style="width: 3%">3%</div>
						</div>

						<p>JavaScript</p>
						<div class="progress mb-2">
							<div class="progress-bar bg-warning text-dark" style="width: 7%">7%</div>
						</div>

						<p>SQL</p>
						<div class="progress mb-2">
							<div class="progress-bar bg-info text-dark" style="width: 20%">20%</div>
						</div>

						<p>HTML / CSS</p>
						<div class="progress mb-2">
							<div class="progress-bar bg-danger" style="width: 50%">50%</div>
						</div>
					</div>








				</div>




			</div>

		</div>

	</div>    <!-- End Example Code -->

</div>
@section Scripts {
	<script src="~/js/Antimo.js"></script>
}