<div class="d-flex gap-1 h-100">
    <div class="w-25 border-end border-black p-3 overflow-auto">
        <img src="https://cdn-0001.qstv.on.epicgames.com/DeWFZjGciBtKpknWZf/image/landscape_comp.jpeg" class="img-fluid rounded mb-2" alt="...">
        <div>
            <h2 class="fs-6 fs-md-4 fw-bold"><i class="bi bi-card-list" style="color:black"></i> Profilo</h2>
            <p class="fs-6 m-0"><i class="bi bi-house" style="color:black"></i> Napoli</p>
            <p class="fs-6 m-0"><i class="bi bi-cake-fill" style="color:black"></i> 21/11/01</p>
        </div>
        <br />
        <div>
            <h2 class="fs-6 fs-md-4 fw-bold"><i class="bi bi-send-fill" style="color:black"></i> Contatti</h2>
            <p class="fs-6 m-0"><i class="bi bi-telephone-fill" style="color:black"></i> : 333 3333333</p>
            <p class="fs-6 m-0"><i class="bi bi-envelope" style="color:black"></i> : lorem@ipsum.com</p>
        </div>
        <br />
        <div>
            <h2 class="fs-6 fs-md-4 fw-bold">Lingue</h2>
            <p class="fs-6 m-0">Italiano - Madrelingua</p>
            <p class="fs-6 m-0">Inglese - Intermedio</p>
        </div>
        <br />
        <h2 class="fs-6 fs-md-4 fw-bold">Aree Di Competenza</h2>
        <p class="fs-6 m-0">Programmazione in C#</p>
        <p class="fs-6 m-0">Framework .NET</p>
        <p class="fs-6 m-0">SQL Server</p>
        <p class="fs-6 m-0">HTML</p>
        <p class="fs-6 m-0">CSS</p>
    </div>
    <div class="w-75 ms-4">
        <h1 class="fw-bold fs-1 text-center">Davide Pompilio</h1>
        <div class="mw-75">
            <h2 class="fs-4 fw-bold">Formazione</h2>
            <h2 class="fs-5 fw-bold">Junior .NET Developer </h2>
            <p class="fs-6"> 
                Generation Italy<br />
                Corso di 500 ore per Junior .NET Developer<br />
                Durante il corso si sono fornite basi di programmazione ad oggetti e programmazione in linguaggi C #, HTML e CSS, nonché sul framework .NET<br />
                Feb. 2025 – Mag. 2025<br />
                <br />
                <h2 class="fs-5 fw-bold">
                    Attestato di “Tecnico della progettazione, implementazione e manutenzione di sistemi di Database."
                </h2>
            <p class="fs-6">
                C.L.A.A.I Form.<br />
                Corso incentrato sull’apprendimento della progettazione, implementazione e manutenzione di sistemi di database, con focus su: SQL, Sap/Hana, Sap/ABAP.<br />
                Mar. 2023 – Giu. 2023<br />
                <br />

                <h2 class="fs-5 fw-bold">Diploma Liceo Scientifico Scienze Applicate </h2>
                Liceo Scientifico "Filippo Silvestri"​<br />
                Portici (NA) 2021<br />
                <br />
                <h2 class="fs-4 fw-bold">Esperienze Professionali</h2>
                <br />
                <h2 class="fs-5 fw-bold">Barista | 2023-2024</h2>
            <p class="fs-6">
                Le mie responsabilità come barista includevano la manutenzione delle apparecchiature da lavoro, l’accoglimento dei clienti, la rendicontazione in cassa a fine giornata. Grazie a questo impiego sono riuscito a sviluppare svariate abilità, tra cui capacità organizzative, sviluppo del rapporto con la clientela e abilità di lavoro di squadra.



            </p>
        </div>
    </div>
</div>