<div class="d-flex gap-1 h-100">
    <div class="w-25 border-end border-primary p-2 overflow-auto">
        <img src="~/css/images/luis.jpg" class="img-fluid rounded mb-2 mw-100" alt="Lancillotto">

        <div>
            <h2 class="fs-6 fs-md-4 text-primary fw-bold">Caratteristiche Anagrafiche</h2>
            <p class="fs-6 m-0">Età: 19</p>
            <p class="fs-6 m-0">Luogo Di nascita: Napoli</p>
            <p class="fs-6 m-0">Data Di nascita: 31/01/06</p>
        </div>
        <br />
        <div>
            <h2 class="fs-6 fs-md-4 text-primary fw-bold">Contatti</h2>
            <p class="fs-6 m-0">Telefono: 333 3333333</p>
            <p class="fs-6 m-0">E-mail: gmail@gmail.com</p>
        </div>
        <br />
        <div>
            <h2 class="fs-6 fs-md-4 text-primary fw-bold">Lingue</h2>
            <p class="fs-6 m-0">Italiano - Madrelingua</p>
            <p class="fs-6 m-0">Inglese - B2</p>
        </div>
    </div>
    <div class="w-75 ms-4">
        <h1 class="fs-1 text-center fw-bold">Luigi D'Esposito</h1>
        <div class="mw-75">
            <h2 class="fs-4 fw-bold text-primary">Formazione</h2>
            <p class="fs-6">
                Junior .NET Developer<br />
                Generation Italy<br />
                Corso di 500 ore per Junior .NET Developer<br />
                Durante il corso si sono fornite basi di programmazione ad oggetti e programmazione in linguaggi C #, HTML e CSS, nonché sul framework .NET<br />
                Feb. 2025 – Mag. 2025<br />
                <br />
                Diploma di perito tecnico​<br />
                Istituto Tecnico Industriale «R. Elia»​<br />
                di C. Mare Di Stabia​ (NA)<br />
                2024<br />
                <br />
                ECDL Full Standard<br />
                AICA<br />
                2024<br />
                <br />
                CCNAv7: Introduction to Networks<br />
                Cisco Networking Accademy<br />
                2024<br />
            </p>
        </div>
        <div class="mw-75">
            <h2 class="fs-4 text-primary">Esperienza Professionale</h2>
            <p class="fs-6">
                Tuttofare | Lug. 2023 – Sett. 2023<br />
                Colle di Fontanelle (NA)<br />
                <br />
                Durante questa esperienza lavorativa, ho ricoperto diversi ruoli, come il bagnino, il cameriere e l’aiuto cuoco, adattandomi alle esigenze della struttura, grazie a ciò sono stato capace di sviluppare flessibilità, capacità di lavorare in team diversi e gestione dello stress, adattandomi rapidamente a diverse mansioni e ritmi lavorativi.<br />
                <br />
                Cameriere | Mag. 2022 – Lug. 2022<br />
                Piano di Sorrento (NA)<br />
                <br />
                Le mie principali  responsabilità come cameriere includevano l’accoglienza, la presa delle ordinazioni, il servizio ai tavoli e il mantenimento dell’ordine della sala,
                Grazie a questa esperienza ho sviluppato buone capacità comunicative e di gestione del tempo.
            </p>
        </div>
    </div>
</div>