<div class="d-flex gap-1 h-100">
    <div class="w-25 border-end border-primary p-2 overflow-auto">
        <img src="@Url.Content("~/images/luis.jpg")" style="max-width: 250px" class="img-fluid rounded mb-2" alt="Lancillotto">

        <div>
            <h2 class="fs-6 fs-md-4 text-primary fw-bold"><i class="bi bi-info-circle"></i> Caratteristiche Anagrafiche</h2>
            <p class="fs-6 m-0"><i class="bi bi-arrow-right-short"></i> Età: 19</p>
            <p class="fs-6 m-0"><i class="bi bi-arrow-right-short"></i> Luogo Di nascita: Napoli</p>
            <p class="fs-6 m-0"><i class="bi bi-arrow-right-short"></i> Data Di nascita: 31/01/06</p>
        </div>
        <br />
        <div>
            <h2 class="fs-6 fs-md-4 text-primary fw-bold"><i class="bi bi-person-lines-fill"></i> Contatti</h2>
            <p class="fs-6 m-0"><i class="bi bi-arrow-right-short"></i> <i class="bi bi-telephone-fill"></i> 333 3333333</p>
            <p class="fs-6 m-0"><i class="bi bi-arrow-right-short"></i> <i class="bi bi-envelope-fill"></i> gmail@gmail.com</p>
        </div>
        <br />
        <div>
            <h2 class="fs-6 fs-md-4 text-primary fw-bold"><i class="bi bi-translate"></i> Lingue</h2>
            <p class="fs-6 m-0"><i class="bi bi-arrow-right-short"></i> Italiano - Madrelingua</p>
            <p class="fs-6 m-0"><i class="bi bi-arrow-right-short"></i> Inglese - B2</p>
        </div>
    </div>
    <div class="w-75 ms-4">
        <h1 class="fs-1 text-center fw-bold">Luigi D'Esposito</h1>

        <div class="mw-75">
            <h2 class="fs-4 fw-bold text-primary">Formazione</h2>

            <div class="mb-3">
                <p class="fw-bold mb-0"><i class="bi bi-arrow-right-short"></i> Junior .NET Developer</p>
                <p class="mb-0">Generation Italy</p>
                <p class="mb-0">Corso di 500 ore per Junior .NET Developer</p>
                <p class="mb-0">Feb. 2025 – Mag. 2025</p>
            </div>

            <div class="mb-3">
                <p class="fw-bold mb-0"><i class="bi bi-arrow-right-short"></i> Diploma di perito tecnico</p>
                <p class="mb-0">Istituto Tecnico Industriale «R. Elia» di C. Mare Di Stabia (NA)</p>
                <p class="mb-0">2024</p>
            </div>

            <div class="mb-3">
                <p class="fw-bold mb-0"><i class="bi bi-arrow-right-short"></i> ECDL Full Standard</p>
                <p class="mb-0">AICA – 2024</p>
            </div>

            <div class="mb-3">
                <p class="fw-bold mb-0"><i class="bi bi-arrow-right-short"></i> CCNAv7: Introduction to Networks</p>
                <p class="mb-0">Cisco Networking Academy – 2024</p>
            </div>
        </div>

        <div class="mw-75 mt-4">
            <h2 class="fs-4 fw-bold text-primary">Esperienza Professionale</h2>

            <div class="mb-3">
                <p class="fw-bold mb-0"><i class="bi bi-arrow-right-short"></i> Tuttofare | Lug. 2023 – Sett. 2023</p>
                <p class="mb-1">Colle di Fontanelle (NA)</p>
                <p class="mb-0">
                    Durante questa esperienza lavorativa, ho ricoperto diversi ruoli, come il bagnino, il cameriere e l’aiuto cuoco,
                    adattandomi alle esigenze della struttura. Grazie a ciò sono stato capace di sviluppare flessibilità, capacità di lavorare in team diversi
                    e gestione dello stress, adattandomi rapidamente a diverse mansioni e ritmi lavorativi.
                </p>
            </div>

            <div class="mb-3">
                <p class="fw-bold mb-0"><i class="bi bi-arrow-right-short"></i> Cameriere | Mag. 2022 – Lug. 2022</p>
                <p class="mb-1">Piano di Sorrento (NA)</p>
                <p class="mb-0">
                    Le mie principali responsabilità come cameriere includevano l’accoglienza, la presa delle ordinazioni, il servizio ai tavoli
                    e il mantenimento dell’ordine della sala. Grazie a questa esperienza ho sviluppato buone capacità comunicative e di gestione del tempo.
                </p>
            </div>
        </div>
    </div>
</div>